#donate1 {
    display: flex;
    margin-bottom: 40px;
}

#donate2 {
    font-weight: 600;
    margin: 0;
}

#donate3 {
    font-weight: 600;
}

#photoDonate {
    height: 300px;
    padding-top: 30px;
}