.header {
    background: #3d2510;
    display: flex;
    justify-content: space-between;
}

.headerMenu a {
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover {
    background: #9e0000;
}

.socialLinks {
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}

.socialLinks img {
    height: 30px;
    margin-left: 20px;
}

.socialLinks img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.socialLinks a {
    cursor: default;
}
