.header {
    background: #3d2510;
    display: flex;
    justify-content: space-between;
    
}

.headerMenu a {
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover {
    background: #c90000;
}