.footer {
    background: #2e1204;
    color: #fff;
    padding: 1px 50px;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.contact {
    font-size: 24px;
    font-family: Oswald;
    letter-spacing: 3px;
}

.socialIcons {
    display: inline-block;
}

.socialIcons img {
    height: 36px;
    margin: 5px 30px 20px 0;
}

.socialIcons img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.socialIcons a {
    cursor: default;
}
