#adoption1 {
    padding-bottom: 20px;
}

#adoption2 {
    text-align: center;
}

#adoption3 {
    padding-top: 30px;
}

#adoption4 {
    margin: 0;
    padding-bottom: 10px;
}

#adoptionTableContainer {
    display: flex;
    justify-content: space-around;
}

table, th, td {
    border-bottom: 1px solid #9e0000;
    
}

table {
    border-collapse: collapse;
    background: #fcfcf2;
}
